<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="./css/screen.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--if lte IE 8
    link(href=css.ie, type="text/css", rel="stylesheet")

    -->
    <title>You Welcome!</title>
    <script type="text/javascript" src="js/audiodisplay.js"></script>
    <script type="text/javascript" src="js/recorder.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="./js/index.js"></script>
</head>
<body ng-app="myApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="navbarhead">What the song?</div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#recognize">
                <div class="navbarlist">Recognize</div>
            </a></li>
            <li><a href="#recognizeByFile">
                <div class="navbarlist">RecognizeByFile</div>
            </a></li>
            <li><a href="#upload">
                <div class="navbarlist">Upload</div>
            </a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3">

        </div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <script type="text/ng-template" id="test.htm">
                123
            </script>
            <div ng-view></div>
            <!--RECOGNITION-->
            <script type="text/ng-template" id="recognize.htm">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="font-family: Tahoma;font-size:20px;text-align:center;">Let's {{state}} song</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <div id="record" style="text-align: center;"><img style="width:18%;height:18%"
                                                                                  src="img/tool.png"
                                                                                  onclick="toggleRecording(this);">
                                </div>
                                <div id="viz">
                                    <canvas id="analyser" width="500" height="100"></canvas>
                                    <canvas id="wavedisplay" width="500" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <a id="save" href="#"><img src="img/save.svg" style="display:none;"></a>
                        <div ng-include src="'recognizeResult.htm'"></div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="recognizeByFile.htm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="font-family: Tahoma;font-size:20px;text-align:center;">Let's {{state}} song</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <label for="file">
                                    <img class="smallericon" id="uploadToRecognizeButton"
                                         src="/img/magnifying-glass.png"/><br>
                                    <div ng-hide="myFile" class="choosefile">Choose file</div>
                                </label>
                                <form action="/recognize" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" id="file" file-model="myFile">
                                </form>
                                <label for="recognize_button">
                                    <img class="smallericon" id="enterButton" src="/img/uploadimg.png"
                                         class="{{recognizedSongs.slice(0,1)[0].buttonClass}}"/>
                                </label>
                                <p><input type="button" id="recognize_button" value="Recognize" style="display: none;"
                                          ng-click="recognizeFile();myFile=undefined" ng-disabled="!myFile.name"/></p>
                                {{myFile.name}}
                            </div>
                        </div>
                        <div ng-include src="'recognizeResult.htm'"></div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="recognizeResult.htm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table">
                            <tbody>
                            <col width="55%">
                            <col width="20%">
                            <col width="20%">
                            <col width="5%">
                            <tr ng-repeat="song in recognizedSongs.slice(0,1)">
                                <td>{{getTitle(song.response.data.results[0].recordings[0].title)}} -
                                    {{getTitle(song.response.data.results[0].recordings[0].artists[0].name)}}
                                </td>
                                <td>{{song.time | date:'HH:mm:ss'}}</td>
                                <td><a target="_blank"
                                       href="https://www.youtube.com/results?search_query={{song.response.data.results[0].recordings[0].title + '+' + song.response.data.results[0].recordings[0].artists[0].name}}">
                                    youtube
                                </a></td>
                                <td>{{song.response.statusText}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row" ng-show="recognizedSongs.length!=0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: transparent;">
                                    <h4 class="panel-title">
                                        <a class="atitle" data-toggle="collapse" data-target="#collapseHistory">Recognize
                                            history</a>
                                    </h4>
                                </div>
                                <div id="collapseHistory" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <col width="55%">
                                            <col width="20%">
                                            <col width="20%">
                                            <col width="5%">
                                            <thead>
                                            <tr>
                                                <th>Song</th>
                                                <th>Time</th>
                                                <th>Link</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="song in recognizedSongs">
                                                <td>{{getTitle(song.response.data.results[0].recordings[0].title)}} -
                                                    {{getTitle(song.response.data.results[0].recordings[0].artists[0].name)}}
                                                </td>
                                                <td>{{song.time | date:'HH:mm:ss'}}</td>
                                                <td><a target="_blank"
                                                       href="https://www.youtube.com/results?search_query={{song.response.data.results[0].recordings[0].title + '+' + song.response.data.results[0].recordings[0].artists[0].name}}">
                                                    youtube
                                                </a></td>
                                                <td>{{song.response.statusText}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </script>

            <!--UPLOADING-->
            <script type="text/ng-template" id="upload.htm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div style="font-family: Tahoma;font-size:20px;text-align:center;">Let's {{state}} song</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <label for="upload_file">
                                    <img class="smallericon" id="uploadToSaveButton"
                                         src="/img/magnifying-glass.png"/><br>
                                    <div ng-hide="toUploadFile" class="choosefile">Choose file</div>
                                </label>
                                <form action="/upload" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" id="upload_file" file-model="toUploadFile">
                                </form>
                                <label for="upload_button">
                                    <img class="smallericon" id="saveButton" src="/img/store.png"
                                         class="uploadedSongs.slice(0,1)[0].buttonClass"/>
                                </label>
                                <p><input type="button" id="upload_button" value="Recognize" style="display: none;"
                                          ng-click="uploadFile();toUploadFile=undefined"
                                          ng-disabled="!toUploadFile || !songNameToUpload || !artistNameToUpload"/></p>
                                {{toUploadFile.name}}
                                <br>
                                <input type="text" ng-model="songNameToUpload" class="textinput"
                                       onClick="this.select();" required placeholder="song">
                                <input type="text" ng-model="artistNameToUpload" class="textinput"
                                       onClick="this.select();" required placeholder="artist">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table">
                                    <col width="55%">
                                    <col width="25%">
                                    <col width="25%">
                                    <tbody>
                                    <tr class=".table" ng-repeat="song in uploadedSongs.slice(0,1)">
                                        <td>{{song.songName}} - {{song.artistName}}</td>
                                        <td>{{song.time | date:'HH:mm:ss'}}</td>
                                        <td>{{song.response.statusText}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" ng-show="uploadedSongs.length!=0">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="background: transparent;">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-target="#collapseUploadHistory">Upload
                                                    history</a>
                                            </h4>
                                        </div>
                                        <div id="collapseUploadHistory" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <col width="55%">
                                                    <col width="25%">
                                                    <col width="25%">
                                                    <thead>
                                                    <tr>
                                                        <th>Song</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class=".table" ng-repeat="song in uploadedSongs">
                                                        <td>{{song.songName}} - {{song.artistName}}</td>
                                                        <td>{{song.time | date:'HH:mm:ss'}}</td>
                                                        <td>{{song.response.statusText}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </script>

            <!--NEXT STATE-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                </div>
            </div>

        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-4">

        </div>
    </div>

</div>
<div class="navbar-fixed-bottom row-fluid" style="border:0;box-shadow: none;">
    <div class="navbar-inner">
        <div class="container" style="text-align:center">
            {{startDate | date:'yyyy'}}
        </div>
    </div>
</div>
</body>
</html>