div {
    border: solid 0px black;
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
}
form {
    display: inline-block;
    text-align: center;
    display: none;
}
body {
    background: radial-gradient(circle, cyan, #338);
}
#enterButton {
    opacity: 1.0;
}
#enterButton:active {
    opacity: 0.7;
}

#uploadToRecognizeButton {
    opacity: 1.0;
}
#uploadToRecognizeButton:active {
    opacity: 0.3;
}

#uploadToSaveButton {
    opacity: 1.0;
}
#uploadToSaveButton:active {
    opacity: 0.3;
}
#saveButton {
    opacity: 1.0;
}
#saveButton:active {
    opacity: 0.7;
}

.panel {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-top:none;
    box-shadow:none;
}

.panel-body {
    border-top:none !important;
    box-shadow:none;
}

.table tbody tr td, .table tbody tr th, .table thead tr th {
    border: none;
    text-align: left;
    padding-left: 10%;
    font-size: 20px;

}
.table thead tr th {
    font-weight: bold;
}
.table tbody tr td, .table tbody tr th {
    font-weight: normal;
}
a {
    color: black;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-color: black;
}

.navbar-default .navbar-brand {

}

.navbarlist {
    color: black;
    font-size: 20px;
}
.navbarhead {
    color: black;
    font-size: 25px;
}

.textinput {
    background-color: transparent;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 150, 150, 1);
}

.textinput:focus {
    background-color: transparent;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid cyan;
}

input.ng-invalid {
    background-color:pink;
    opacity: 0.9;
}
input.ng-valid {
    background-color:transparent;
}
div.choosefile {
    color:red;
    text-align:center;
}

.pulse {
    -webkit-animation-name: pulseAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: pulseAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*-webkit-filter: blur(4px);filter: blur(0px);*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulseAnimation {
    0% {opacity: 1.0;-webkit-filter: invert(0%);filter: invert(0%);}
    50% {opacity: 1.0;-webkit-filter: invert(100%);filter: invert(100%);}
    100% {opacity: 1.0;-webkit-filter: invert(0%);filter: invert(0%);}
}

/* Standard syntax */
@keyframes pulseAnimation {
    0% {opacity: 1.0;-webkit-filter: invert(0%);filter: invert(0%);}
    50% {opacity: 1.0;-webkit-filter: invert(100%);filter: invert(100%);}
    100% {opacity: 1.0;-webkit-filter: invert(0%);filter: invert(0%);}
}

.recording {
    -webkit-animation: redPulseAnimation 2s infinite ease-out, greenPulseAnimation 2s 2s infinite ease-out;
    animation: redPulseAnimation 2s infinite ease-out, greenPulseAnimation 2s 10s infinite ease-out;
    border-radius: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes redPulseAnimation {
    0% {opacity: 1.0; background-color: transparent;}
    50% {opacity: 1.0; background-color: #B00000;}
    100% {opacity: 1.0; background-color: transparent;}
}

/* Standard syntax */
@keyframes redPulseAnimation {
    0% {opacity: 1.0; background-color: transparent;}
    50% {opacity: 1.0; background-color: #B00000;}
    100% {opacity: 1.0; background-color: transparent;}
}

@-webkit-keyframes greenPulseAnimation {
    0% {opacity: 1.0; background-color: green;}
    50% {opacity: 1.0; background-color: transparent;}
    100% {opacity: 1.0; background-color: green;}
}

/* Standard syntax */
@keyframes greenPulseAnimation {
    0% {opacity: 1.0; background-color: green;}
    50% {opacity: 1.0; background-color: transparent;}
    100% {opacity: 1.0; background-color: green;}
}


.circleicon {
    width: 15%;
    height: 15%;
}

.smallericon {
    width: 25%;
    height: 25%;
}

canvas {
    display: inline-block;
    background: transparent;
    width: 25%;
    height: 100%;
    box-shadow: 0px 0px 10px blue;
}
#viz {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
}